
body {
  background: bone;
}

.container {
  margin: 0px auto;
  padding: 2%;
  max-width: 600px;
}

.card {
  margin: 2%;
}

input {
  width: 80%;
  border: 1px solid grey;
}

button {
  background-color: slateblue;
  color: #ffffff;
  margin: .5em auto;
}

.album_art {
  width: 100px;
  height: auto;
}
